TOKEN=abcdef123456
APPLICATION_ID=123456

RPC_HOST=127.0.0.1
RPC_PORT=80
RPC_PASSWORD=password
RPC_USERNAME=username

DB_HOST=localhost
DB_STORAGE=database.sqlite

INSCRIPTION_API=https://api.hiro.so/ordinals/v1/inscriptions

AXIOM_TOKEN=
AXIOM_DATASET=
AXIOM_URL=

BIP_MESSAGE=

MAGIC_EDEN_HOST=https://api-mainnet.magiceden.io/v2/ord/btc/tokens

NODE_ENV=development